<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powernode.sb3011springbootmybatis.resporitory.VipMapper">
    <insert id="insert">
        insert into t_vip(id,name,card_number,birth) values(null,#{name},#{cardNumber},#{birth})
    </insert>
    <update id="update">
        update t_vip set name=#{name},card_number=#{cardNumber},birth=#{birth} where id=#{id}
    </update>
    <delete id="deleteById">
        delete from t_vip where id=#{id}
    </delete>
    <!--select id="selectById" resultType="com.powernode.sb3011springbootmybatis.model.Vip">
        select id,name,card_number as cardNumber,birth from t_vip where id=#{id}
    </select>
    <select id="selectAll" resultType="com.powernode.sb3011springbootmybatis.model.Vip">
        select id,name,card_number as cardNumber,birth from t_vip
    </select-->
    <select id="selectById" resultType="com.powernode.sb3011springbootmybatis.model.Vip">
        select * from t_vip where id=#{id}
    </select>
    <select id="selectAll" resultType="com.powernode.sb3011springbootmybatis.model.Vip">
        select *  from t_vip
    </select>
</mapper>